.vbox-shadow-box
  position: absolute
  background-color: #e2aaaa
  overflow: hidden
  cursor: grab
  user-select: none
  -moz-user-select: none
  -webkit-user-select: none
  -ms-user-select: none
  z-index: 99
  /*
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  */